body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;  /*sameline*/
    height: 100vh; 
    padding: 0.5rem;
    padding-left: 0.5rem;
    
}
.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;  /*16px*/
    margin-right: 0.5rem;
}
.content{
    background-color: #121212;
    flex: 1;   /*space left*/
    border-radius: 1rem;
    overflow: auto;   /*always visible*/
}
.music-player{                                                                
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
    /*fixed=0*/
    bottom: 0;
    height:72px ;
}
    
a{
    text-decoration: none;
    color: white;
    
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    padding:0.5rem 0.75rem;
    height:100px ;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.nav-opt{
    line-height: 2.5rem;
    opacity: 0.7;
}
.nav-opt:hover{
    opacity: 1;
}
.nav-opt i{
    font-size: 1.25rem;
}
.nav-opt a{
    font-size: 1rem;
}
.lib{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.opt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-opt img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    font-size: 1.25rem;
    display: flex;
    
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}
.b1{
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}
.p1{
    font-size: 1rem;
    font-weight: 500;
}
.p2{
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge{
    border-radius: 100px;
    border: none;
    font-weight: 700;
    padding: 0.25rem 1rem;
    background-color: white;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.sticky-nav{
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    top: 0;    /*fix pos*/
    position: sticky;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index:10 ;    /*no overlapping*/

}
.nav-icon{
    margin-left: 0.75rem;
}
.nav-option{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
}
.nav-option button{
    margin-right: 1rem;
}
.hit{
    margin-right: 1rem;
}
.bit{
    background-color: black;
    color:#fff;
}
@media(max-width:1000px){        /*MEDIA QUERIES*/
    .hide{
        display: none;
    }
}
.cards{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
}
.contain{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.album{
    width: 25%;
    background-color: black;
}
.player{
    width: 50%;
}
.control{
    width: 25%;
    background-color: black;
}

.player-control-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
    
}
.player-control-icon:hover{
    opacity: 1;
}
.player-control{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width:30% ;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: green;
    border-radius: 50%;
    margin-top:-6px ;


}
